img{
    max-width:50%;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:5px;
    background:#fff;
    -webkit-box-shadow:0 0 8px #aaa;
    box-shadow:0 0 8px #aaa;
}
.footer{
    font-size:20px;
}
a{}